@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
html,
body {
  font-family: 'Grand Hotel', cursive;
}

body {
  color: #1A120B;
  background: #FFFFD2;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
